{% extends "layout.html" %}
{% block body %}
{{ super() }}
<body>
<div class="panel panel-default">
    <div class="panel-heading"><h2>Disribution List</h2></div>

    <table class="table" id="Controllers">
        <tr>
            <th scope="col">Distribution Name</th>
            <th scope="col">Version</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
        </tr>
        {%for dist in distributions['content']%}
        <tr>
            <td>{{dist['name']}}</td>
            <td>{{dist['version']}}</td>
            <td>{{dist['description']}}</td>
            <td>{{dist['createdBy']}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
{% endblock %}