{% extends "layout.html" %}
{% block page_title %}Distribution List:{% endblock %}
{% block body %}
{{ super() }}
<body>

<div class=container"><br>
    <div class="row align-items-center justify-content-center">
            <table class="table" id="Distributions">
                <tr>
                    <th scope="row">Created By</th>
                    <th scope="row">Distribution Name</th>
                    <th scope="row">Description</th>
                    <th scope="row">Version</th>
                    <th scope="row">Modules</th>
                </tr>
                {%for dist in distributions['content']%}
                <tr>
                        <td>{{dist['createdBy']}}</td>
                        <td>{{dist['name']}}</td>
                        <td>{{dist['description']}}</td>
                        <td>{{dist['version']}}</td>
                        <td>
                        {%for module in dist['modules']%}
                        <div id="controller_credentials">
                            <table>
                                <tr>
                                    <th scope="col">Name: {{module['name']}}</th>
                                </tr><tr>
                                    <td>Id: {{module['id']}}</td>
                                </tr><tr>
                                    <td>Description: {{module['description']}}</td>
                                </tr><tr>
                                    <td>Version: {{module['version']}}</td>
                                </tr><tr>
                                    <td>Deleted: {{module['deleted']}}</td>
                                </tr>
                            </table>
                        </div>
                        {%endfor%}
                        </td>
                </tr>
                {% endfor %}
            </table>
    </div>
</div>
</body>
{% endblock %}